.main_head{
	color:white;
	background-color:orange;
	padding:10px;
	border-radius:20px;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
	margin: 10;
	//merge testing with master
	//added another line
}